*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 1vw;
    background: #121212;
}

/*Button "Salvar"*/
.btnSave{
    background: #36a132;
    padding: 0.2vw 1vw;
    font-size: 1.3vw;
    color: #F3F4F6;
    border: none;
    font-weight: 500;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: 70vw ;
}

.btnSave:hover{
    letter-spacing: 0.2vw;
}

/*Button "Voltar"*/
.btnBack{
    background: #3B82F6;
    padding: 0.2vw 1vw;
    font-size: 1.3vw;
    color: #F3F4F6;
    border: none;
    font-weight: 500;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.5s ease;
}

.btnBack:hover{
    letter-spacing: 0.2vw;
}

/*Button "Sair*/
.btnLoggout{
    background: #f63b3b;
    padding: 0.2vw 1vw;
    font-size: 1.3vw;
    color: #F3F4F6;
    border: none;
    font-weight: 500;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.5s ease;
}

.btnLoggout:hover{
    letter-spacing: 0.2vw;
}

.content-global{
    background: #1E1E1E;
    width: 100%;
    height: 95vh;
    padding: 2vw;
    border-radius: 0.5vw;
}

.content-global .profiletitle{
    color: #F3F4F6	;
    font-size: 3vw;
}

.informationGeral{
    justify-items: center;
    align-items: center;
    display: flex;
}

/*Box das informações pessoais*/
.box-pessoal{
    border: 0.2vw solid #ffffff98;
    border-radius: 1vw;
    width: 45%;
    max-height: 26.5vw;
    box-shadow: 1vw 1vw 0.1vw #121212;
    padding: 0.5vw;
    margin: auto;
}

.box-pessoal h1{
    color: #F3F4F6;
    font-size: 2.5vw;
}

.pessoal-content{
    width: 100%;
    height: 25vw;
}

.pessoal-content label{
    color: #9CA3AF;
    margin: 0vw 0.5vw;
    font-size: 2vw;
    display: block;
}

.pessoal-content input{
    display: flex;
    background: transparent;
    border: 0.2vw solid #ffffff98;
    width: 100%;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw 0.5vw;
    font-size: 1.5vw;
    outline: none;
    color: aliceblue;
}

.pessoal-content input::placeholder{
    color: #ffffff98;
}

/*Box das informações de endereço*/
.box-andress{
    border: 0.2vw solid #ffffff98;
    border-radius: 1vw;
    width: 45%;
    max-height: 26.5vw;
    box-shadow: 1vw 1vw 0.1vw #121212;
    padding: 0.5vw;
    margin: auto;
}

.box-andress h1{
    color: #F3F4F6;
    background: #1E1E1E;
    font-size: 2.5vw;
}

.andress-content {
    width: 100%;
    height: 25vw;
}

.andress-content label{
    color: #9CA3AF;
    margin: 0vw 0.5vw;
    font-size: 2vw;
    display: block;
}

.andress-content input{
    display: flex;
    background: transparent;
    border: 0.2vw solid #ffffff98;
    width: 100%;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw 0.5vw;
    font-size: 1.5vw;
    outline: none;
    color: aliceblue;
}